## 데이터 크롤링을 위한 Notebook

##### Movie Dataset From TMDB

In [14]:
import requests
import os
import csv
import json
import pandas as pd

In [15]:
def append_data_to_dataset(df, data):
    df.loc[len(df)] = data
    return df

In [16]:
file_path = '../datasets/movie_detail_data_sample.csv'

# 파일이 존재하는지 확인
if not os.path.exists(file_path):
    # 파일이 없으면 새로 생성
    with open(file_path, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['adult','belongs_to_collection','budget','genres','homepage','id','imdb_id','original_language','original_title','overview','popularity','poster_path','production_companies','production_countries','release_date','revenue','runtime','spoken_languages','status','tagline','title','video','vote_average','vote_count'])

movie_df = pd.read_csv(file_path)

In [17]:
year_range = range(1874, 1875)
month_range = range(1, 13)

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiMmY1N2RmMjUzZjIyZTAwMTQ5MjRjYjdhYmI1MWIxOSIsIm5iZiI6MTcyODE4NDI5Mi44MjE4MjksInN1YiI6IjY3MDFmZTM4Zjg3OGFkZmVkMDg1ODRlMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.6IP5mBurL06yy5lF0FOGAoCxnxmDW6oF9p6Xp7utISM"
}

movie_array = []
for year in year_range:
    for month in month_range:
        if month == 12:
            month_add = 1
            year_add = year+1
        else:
            month_add = month+1
            year_add = year
        
        print(f'Currently Parsing in year: {year}, month:{month}')

        page = 1
        while True:
            url = f"https://api.themoviedb.org/3/discover/movie?page={page}&primary_release_date.gte={year}-{month}-02&primary_release_date.lte={year_add}-{month_add}-01&sort_by=popularity.desc"
            response_data = requests.get(url, headers=headers).json()
                #result가 더이상 없으면 while문 빠져나가야
            if len(response_data['results'])<1:
                break
            
            for item in response_data['results']:
                url_detail = f"https://api.themoviedb.org/3/movie/{item['id']}"
                json_item = requests.get(url_detail, headers=headers).json()
                movie_array.append(json_item)
                #movie_df = append_data_to_dataset(movie_df, json_item)
            page = page+1

movie_df = pd.DataFrame(movie_array)

Currently Parsing in year: 1874, month:1
Currently Parsing in year: 1874, month:2
Currently Parsing in year: 1874, month:3
Currently Parsing in year: 1874, month:4
Currently Parsing in year: 1874, month:5
Currently Parsing in year: 1874, month:6
Currently Parsing in year: 1874, month:7
Currently Parsing in year: 1874, month:8
Currently Parsing in year: 1874, month:9
Currently Parsing in year: 1874, month:10
Currently Parsing in year: 1874, month:11
Currently Parsing in year: 1874, month:12

In [18]:
movie_df.shape

(1, 26)

In [19]:
movie_df.to_csv(file_path)

##### Rating Dataset From ????

### Problem
- 아무리 찾아봐도 MovieLens에서 제공한 최대 6만4천개의 영화 평점데이터밖에 구할수가 없다.


### Idea
 1. TMDB에서는 유저 아이디를 입력하면 해당 유저가 평가한 영화의 rating 정보를 제공한다. 
 2. 유저 아이디는 Account API에 아이디를 입력하면 유저정보가 뜨는데, 없는 아이디는 정보가 없다.
 3. 유저 아이디는 Int32형이기 때문에, 최대값이 2^32 -1이다.
 4. 따라서, 유저 아이디를 1부터 2^32-1까지 모두 넣어보면 유효한 유저 아이디 리스트를 만들 수 있고
 5. 그러면 해당 유저들이 평가한 rating 정보를 불러올 수 있지 않을까?

### What To Do?
 - Super 노가다
 - 21억 API 호출은.. 시간당 18만 API 호출이 최대이다. (초당 50호출 기준) 그러면 24시간에 최대 432만개밖에 호출 불가능.. 다른방법 찾아야되는데?

## 평점데이터는 크롤링 불가능하다는 결론.
### 방법 찾아보긴 하는데, 업데이트정도만 할 수 있고 기존 데이터 불러오기는 불가능할 것 같다.

대신 기존에 kaggle에 있던 평점데이터를 조금 더 큰 놈으로 변경하자.
MovieLens 참고

In [21]:
movie_df

,Unnamed: 0,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,False,/v6sqKSZQcyN5R7xzVmNVi3t2Kyf.jpg,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,315946,tt3155794,['FR'],...,1874-12-09,0,1,"[{'english_name': 'No Language', 'iso_639_1': ...",Released,NaN,Passage of Venus,False,6.3,109

In [22]:
import requests
import os
import csv
import json
import pandas as pd
from datetime import datetime,timedelta

yesterday = datetime.today() - timedelta(1)
yesterday_string = yesterday.strftime("%Y-%m-%d")

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiMmY1N2RmMjUzZjIyZTAwMTQ5MjRjYjdhYmI1MWIxOSIsIm5iZiI6MTcyODMwNzU4MC44ODg0MDcsInN1YiI6IjY3MDFmZTM4Zjg3OGFkZmVkMDg1ODRlMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.RAV-a8EgeXOQaaZXmpapdxFkpRgwUaVC4mZmlVt8u4U"
}

changed_movie_array = []

page = 1
while True:
    url = f"https://api.themoviedb.org/3/movie/changes?end_date={yesterday_string}&page={page}&start_date={yesterday_string}"
    response_data = requests.get(url, headers=headers).json()
    if len(response_data['results'])<1:
        break
    for item in response_data['results']:
        url_detail = f"https://api.themoviedb.org/3/movie/{item['id']}"
        json_item = requests.get(url_detail, headers=headers).json()
        changed_movie_array.append(json_item)        
    page = page+1

changed_df = pd.DataFrame(changed_movie_array)

file_path = '../datasets/movie_detail_data.csv'
movie_df = pd.read_csv(file_path)
movie_df = pd.concat([movie_df, changed_df])

movie_df.to_csv(file_path)

Index([ 0,  0,  1,  2,  3,  4,  5,  6,  7,  8,
       ...
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64', length=101)