In [1]:
# visualization
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fe = fm.FontEntry(
    fname=r'../resources/fonts/NanumGothic.ttf', # ttf 파일이 저장되어 있는 경로
    name='NanumGothic')                        # 이 폰트의 원하는 이름 설정
fm.fontManager.ttflist.insert(0, fe)              # Matplotlib에 폰트 추가
plt.rcParams.update({'font.size': 10, 'font.family': 'NanumGothic'}) # 폰트 설정
plt.rc('font', family='NanumGothic')
import seaborn as sns
import ast

# utils
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
import warnings;warnings.filterwarnings('ignore')

from sklearn.metrics.pairwise import cosine_similarity

In [30]:
old_movie_path = '../datasets/movies_metadata.csv'
new_movie_path = '../datasets/new_movie_data.csv'
new_new_movie_path = '../datasets/movie_detail_data_1956.csv'

old_movie_dt = pd.read_csv(old_movie_path)
new_movie_dt = pd.read_csv(new_movie_path)
new_new_movie_dt = pd.read_csv(new_new_movie_path)

In [31]:
new = pd.concat([new_movie_dt, new_new_movie_dt],ignore_index=True)

In [32]:
new.shape

(778469, 28)

In [3]:
rating_path = '../datasets/rating_tmdb.csv'
rating_dt = pd.read_csv(rating_path)

In [24]:
print(old_movie_dt.shape)
print(new_movie_dt.shape)

(45466, 24)
(622570, 28)

In [33]:
old_movie_dt['id_cleaned'] = old_movie_dt['id'].str.strip().str.replace(r'\D', '', regex=True)

# 숫자로 변환
old_movie_dt['id_cleaned'] = pd.to_numeric(old_movie_dt['id_cleaned'], errors='coerce')

# 결과 확인
print(old_movie_dt[['id', 'id_cleaned']])

           id  id_cleaned
0         862         862
1        8844        8844
2       15602       15602
3       31357       31357
4       11862       11862
...       ...         ...
45461  439050      439050
45462  111109      111109
45463   67758       67758
45464  227506      227506
45465  461257      461257

[45466 rows x 2 columns]

In [34]:
old_movie_dt.shape

(45466, 25)

In [36]:
list = old_movie_dt['id_cleaned'].unique().astype(int)

In [37]:
new_data = new[new['id'].isin(list)]

In [39]:
new_data.to_csv('../datasets/movie.csv')

In [40]:
rating_dt.shape

(26010786, 6)

In [41]:
new_rating = rating_dt[rating_dt['tmdbId'].isin(new['id'].unique())]

In [43]:
new_rating.to_csv('../datasets/rating.csv')

In [44]:
new_rating.isna().sum()

Unnamed: 0    0
userId        0
movieId       0
rating        0
timestamp     0
tmdbId        0
dtype: int64

In [24]:
rating_dt['tmdbId'].unique()
old_movie_dt['new_id'] =  pd.to_numeric(old_movie_dt['id'], errors='coerce')

array([   197,  10474,    238, ..., 302042,  23476, 380754], dtype=int64)

In [11]:
old_movie_dt['new_id'] =  pd.to_numeric(old_movie_dt['id'], errors='coerce')

In [15]:
old_movie_dt['new_id'].unique()

array([   862.,   8844.,  15602., ...,  67758., 227506., 461257.])

In [25]:
new_data = rating_dt[rating_dt['tmdbId'].isin(filtered_data['id'].unique())]

In [28]:
rating_dt.shape[0] - new_data.shape[0]

29204

In [26]:
new_data.shape

(25981582, 6)

In [16]:


filtered_data = new_movie_dt[new_movie_dt['id'].isin(old_movie_dt['new_id'].unique())]

In [17]:
filtered_data.head()

,Unnamed: 0.1,Unnamed: 0,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,0,False,/n2K8BsXiafvIBaEUsG7UQfDyffT.jpg,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 10752, '...",NaN,33545,tt0098328,...,1989-01-27,0,97,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Against all odds they went to hell and back.,The Siege of Firebase Gloria,False,5.500,50
1,1,1,False,/pFTmDnSWkM7jJvlPkZQrBGStsg7.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",https://videomercury.com/catalogue/film/?idpel...,20607,tt0094641,...,1989-01-17,0,106,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,NaN,"Dawn Breaks, Which Is No Small Thing",False,7.008,120
2,2,2,False,/5P3EeDAzFPScaDx0IAJbPJJxWOW.jpg,NaN,16000000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",NaN,31606,tt0098051,...,1989-01-25,10647219,108,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,He's one man racing against time to stop the m...,The Package,False,6.095,211
4,4,4,False,/jdaPPUmfiL9jAhKLworCykgvYWL.jpg,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,72834,tt0141861,...,1989-01-21,0,102,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Sweet Home,False,6.661,31
5,5,5,False,/78oscYBIdDCVAnqoEkUVMTaBCmr.jpg,NaN,17000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,41938,tt0098093,...,1989-01-27,3560932,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If he's innocent, the truth could save him. If...",Physical Evidence,False,5.200,49

In [19]:
filtered_data.to_csv('../new_new_moviedata.csv')

In [32]:
new_data = rating_dt[rating_dt['tmdbId'].isin(old_movie_dt['id'].unique())]

In [31]:
filtered_data.isna().sum()

Unnamed: 0.1                 0
Unnamed: 0                   0
adult                        0
backdrop_path             4171
belongs_to_collection    26527
budget                       0
genres                       0
homepage                 22855
id                           0
imdb_id                      4
origin_country               0
original_language            0
original_title               0
overview                   161
popularity                   0
poster_path                502
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                      0
spoken_languages             0
status                       0
tagline                  13912
title                        0
video                        0
vote_average                 0
vote_count                   0
dtype: int64

In [33]:
new_data.shape

(0, 6)

In [21]:
filtered_data[filtered_data['title']=='']

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, adult, backdrop_path, belongs_to_collection, budget, genres, homepage, id, imdb_id, origin_country, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 28 columns]

In [21]:
poster_path_movie = '../datasets/movies_metadata_poster.csv'
poster_movie_dt = pd.read_csv(poster_path_movie)

In [22]:
print(old_movie_dt.shape)
print(new_movie_dt.shape)
print(poster_movie_dt.shape)

(45463, 24)
(622570, 28)
(45463, 25)

In [25]:
old_movie_dt.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path              15391
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25051
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

In [16]:
old_movie_dt['id'] = pd.to_numeric(old_movie_dt['id'], errors='coerce')

# NaN 값이 있는 행(즉, 정수가 아닌 값이 있는 행)을 삭제
old_movie_dt = old_movie_dt.dropna(subset=['id'])

# id를 int 타입으로 변환
old_movie_dt['id'] = old_movie_dt['id'].astype(int)

AttributeError: 'Series' object has no attribute 'type'

In [17]:
old_movie_dt['id'] = old_movie_dt['id'].astype(int)
new_movie_dt['id'] = new_movie_dt['id'].astype(int)

merged_df = old_movie_dt[['id']].merge(new_movie_dt[['id', 'poster_path']], on='id', how='left')
# 병합한 데이터프레임을 old_movie의 'path' column에 할당
old_movie_dt['poster_path'] = merged_df['poster_path']

In [19]:
old_movie_dt.to_csv('../datasets/movies_metadata_poster.csv')

# ============================================================================================================================

In [2]:
rating_path = '../datasets/ratings.csv'
link_path = '../datasets/links.csv'

rating_dt = pd.read_csv(rating_path)
link_dt = pd.read_csv(link_path)

In [3]:
print(rating_dt.shape)
print(link_dt.shape)

(26024289, 4)
(45843, 3)

In [4]:
merged_df = pd.merge(rating_dt, link_dt[['movieId', 'tmdbId']], on='movieId', how='left')

In [7]:
merged_df.head(10)

   userId  movieId  rating   timestamp  tmdbId
0       1      110     1.0  1425941529     197
1       1      147     4.5  1425942435   10474
2       1      858     5.0  1425941523     238
3       1     1221     5.0  1425941546     240
4       1     1246     5.0  1425941556     207
5       1     1968     4.0  1425942148    2108
6       1     2762     4.5  1425941300     745
7       1     2918     5.0  1425941593    9377
8       1     2959     4.0  1425941601     550
9       1     4226     4.0  1425942228      77

In [6]:
merged_df['tmdbId'] = merged_df['tmdbId'].astype('Int64')

In [ ]:
merged_df.to_csv('../datasets/new_ratings.csv')

In [3]:
dataframes = []

df1 = pd.read_csv('../datasets/movie_detail_data_1987_1989.csv')
df2 = pd.read_csv('../datasets/movie_detail_data_1990_2005.csv')
df3 = pd.read_csv('../datasets/movie_detail_data_2006_2018.csv')
df4 = pd.read_csv('../datasets/movie_detail_data_2019.csv')
df5 = pd.read_csv('../datasets/movie_detail_data_2020_2024.csv')

dataframes.append(df1)
dataframes.append(df2)
dataframes.append(df3)
dataframes.append(df4)
dataframes.append(df5)

In [4]:
merged_data = pd.concat(dataframes, ignore_index=True)

In [5]:
merged_data.to_csv('../datasets/movie_detail_data_concat.csv')